<include file="Public:public" />
<block name="demo">
<button class="btn btn-info" onclick="window.location.href='__URL__/add_admin'" style="margin-left:0.9%">添加</button>
<div class="row">
	<div class="col-xs-10">
		<table  id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>用户名</th>
					<th>管理员角色</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<volist name="list" id="row">
					<tr id="{$row['id']}">
						<td>{$row['id']}</td>
						<td>{$row['number']}</td>
						<td>{$row['name']}</td>						
						<td>
							<button onclick="window.location.href='__URL__/edit_admin/id/{$row['id']}'" class="btn btn-xs btn-info" title="修改">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
							</button>
							<button onclick="del({$row['id']})" class="btn btn-xs btn-danger" title="删除">
								<i class="ace-icon fa fa-trash-o bigger-120"></i>
							</button>
						</td>
					</tr>
				</volist>
			</tbody>
		</table>
		 <center id="lei"><div>{$page}</div></center>
	</div><!-- /.span -->
</div>
	

	<script type="text/javascript">
		function del(id){
			if(confirm('确定删除该文章？')){
				if(!id){
					alert('非法操作！');
				}else{
					$.post('__URL__/del_jtyw',{id:id},function(data){
						if(data == 1){
							$("#"+id).remove();
						}else{
							alert('服务器错误！');
						}
					})
				}
			}
		}

		function state(id,code){
			if(confirm('确定更新该文章状态？')){
				$.post('__URL__/jtyw_state',{id:id,code:code},function(data){
					if(data == 1){
						alert('更新成功！');
						window.location.reload();
					}else{
						alert('更新失败！');
					}
				})
			}
		}
	</script>
</block>