<include file="Public:public" />
<block name="demo">
<div class="row">
	<div class="col-xs-10">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>视频</th>
					<th>添加时间</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<volist name="list" id="row">
					<tr id="{$row['id']}">
						<td>{$row['id']}</td>
						<td class="hidden-480"><video width="352" height="264" controls autobuffer poster="__PUBLIC__/video.png">
						    <source src="__PUBLIC__/{$row['path']}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
						</video></td>
						<td>{$row['addtime']|date='Y-m-d H:i:s',###}</td>
						<td>{$row['edittime']|date='Y-m-d H:i:s',###}</td>
						<td>
							<button onclick="window.location.href='__URL__/edit_xcp/id/{$row['id']}'" class="btn btn-xs btn-info" title="修改">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
							</button>
						</td>
					</tr>
				</volist>
			</tbody>
		</table>
	</div><!-- /.span -->
</div>
	

	<script type="text/javascript">
		function del(id){
			if(confirm('确定删除该文章？')){
				if(!id){
					alert('非法操作！');
				}else{
					$.post('__URL__/del_jtyw',{id:id},function(data){
						if(data == 1){
							$("#"+id).remove();
						}else{
							alert('服务器错误！');
						}
					})
				}
			}
		}

		function state(id,code){
			if(confirm('确定更新该文章状态？')){
				$.post('__URL__/jtyw_state',{id:id,code:code},function(data){
					if(data == 1){
						alert('更新成功！');
						window.location.reload();
					}else{
						alert('更新失败！');
					}
				})
			}
		}
	</script>
</block>