<include file="Public:public" />
<block name="demo">
<div class="row">
		<div class="col-xs-10">
		<form action="__URL__/add" method="post"  enctype="multipart/form-data">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
					    <th>标题</th>
						<th>图片</th>
		
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
						<tr>
							<td><input type="text" name="title" ></td>
							<td><a  href="javascript:void(0);" class="file"><input type="file" name="pic"  class="inp">
                  			<img  class="preview" style="width:170px;height:100px"  src="__PUBLIC__/uploads/{$res.pic}"/></a>
                  			</td>
	
				
							<td>
								<button class="btn btn-xs btn-info" title="修改">
									<i class="ace-icon fa fa-pencil bigger-120">
									<input class="btn btn-xs btn-info" type="submit" value="确认添加">
									</i>
								</button>
							</td>
						</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>
	 <script type="text/javascript">

     $(".inp").change(function(){

   var objUrl = getObjectURL(this.files[0]) ;
   console.log("objUrl = "+objUrl) ;
   if (objUrl) {
     $(this).next().attr("src", objUrl).css('display','block');
    // $(".preview1").attr("src", objUrl) ;
   }
  }) ;
  //建立一個可存取到該file的url
  function getObjectURL(file) {
   var url = null ; 
   if (window.createObjectURL!=undefined) { // basic
    url = window.createObjectURL(file) ;
   } else if (window.URL!=undefined) { // mozilla(firefox)
    url = window.URL.createObjectURL(file) ;
   } else if (window.webkitURL!=undefined) { // webkit or chrome
    url = window.webkitURL.createObjectURL(file) ;
   }
   return url ;
  }
  </script>
</block>